head
  link(rel="stylesheet" type="text/css" href="/style.css")

h1 Welcome to #{title}!

p #{name}'s Pug source code!
p This is the home page.
p The value of the variable "name" is "#{name}".
p The value of the variable "age" is "#{age}".
p The value of the variable "city" is "#{city}".
p The value of the variable "country" is "#{country}".
p The value of the variable "hobby" is "#{hobby}".
p The value of the variable "occupation" is "#{occupation}".
p The value of the variable "favoriteColor" is "#{favoriteColor}".
